/* ElEMENT SELECTORS */
* {
	background: url("Images/conway_background.jpeg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
}

header {
	text-align: center;
	margin: 0 auto;
}
/*
header li {
	display: inline;
	font-family: 'Architects Daughter';
	color: white;
	border: 1px solid black;
	padding: 10px 20px;
} */

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: rgba(59, 100, 48, 1);
	font-weight: bold;
	text-decoration: none;
}

li {
  display: inline;
  padding: 5px 10px;
  font-family: 'Architects Daughter';
  text-align: center;
  color: white;
  border: 1px solid black;
  margin: 0 10px;
}

footer li {
	width: 10px;
}

/* CLASS SELECTORS */
.title {
	font-family: 'Cedarville Cursive';
	color: white;
}
.game-window { 
	/*
	height: 25rem;
	width: 25rem;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	margin: auto; 
	*/
} 


.row, .box { 
	/*
    height: 50px;
    width: 50px; 
	*/
}

.lane {
    width: auto;
    height: auto; 
    background: #313131;
    display: flex;
    justify-content: center;
}
.lane .box {
    width: 2.5rem; 
    height: 0.25rem; 
    margin: 0px;
    outline: 1px solid;
    display: inline-block;
    float: left;
    background: #FFFFFF;
}

/* ID SELECTORS */
#wrapper {
    width: 25rem;
    height: 25rem;
    margin-left: auto;
    margin-right: auto;   
    background: #000000;
    display: flex;
    flex-direction: column;
    
}

/* FOR DEVELOPMENT */

/*
* {
	/*
  	border: 1px solid black;
	
} */