/* ElEMENT SELECTORS */
html {
	font-size: 100%;
}
body {
	background: url("Images/conway_background.jpeg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
}

header {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

/*
header li {
	display: inline;
	font-family: 'Architects Daughter';
	color: white;
	border: 1px solid black;
	padding: 10px 20px;
} */
ul {
	padding: 0;
}
li a {
	text-decoration: none;
	color: white;
}

li a:hover {
	color: rgba(59, 100, 48, 1);
	font-weight: bold;
	text-decoration: none;
}

header li {
	width:100%;
}

li {
  display: inline;
  padding: 5px 10px;
  font-family: 'Architects Daughter';
  text-align: center;
  color: white;
  border: 1px solid black;
  margin: 0 10px;
  font-size: 2em;
  background: rgba(0,0,0,0.30);
}

footer {
	text-align: center;
}

footer li {
	width: 10px;
	font-size: 1em;
}

/* CLASS SELECTORS */
.title {
	font-family: 'Cedarville Cursive';
	color: white;
	font-size: 5em;
	padding: 10px;
	margin-bottom: 10px;
}



.row, .box { 
	/*
    height: 50px;
    width: 50px; 
	*/
}

.lane {
    width: auto;
    height: auto; 
    /* background: #313131; */
    display: flex;
    justify-content: center;
}
.lane .box {
    width: 2.5rem; 
    height: 0.25rem; 
    margin: 0px;
    border: 0.5px solid black;
    display: inline-block;
    float: left;
    /* background: #FFFFFF; */
}

#game-content {
	/* padding: 10px 0; */
	justify-content: center;
}

/* ID SELECTORS */
#wrapper {
    width: 70vw;
    height: 70vh;
    margin: auto;
    background: rgba(0,0,0,0.3);
    display: inline-block;
    flex-direction: column;
}

#game-display { 
	height: 70vh;
	width: 70vw;
	border: 1px solid black;
	display: relative;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
} 

#contact {
	font-family: 'Architects Daughter';
	color: white;
	font-size: 3em;
	text-align: center;
	margin: auto;
}

/* FOR DEVELOPMENT */

/*
* {
	/*
  	border: 1px solid black;
	
} */