.game-display {
	height: 50vh;
	width: 50vw;
	margin: auto;
	margin-top: 25vh;
	margin-bottom: 25vh;
}

.grid-container {
	/* padding-top: 12.5vh;
	padding-bottom: 12.5vh; */
}

.cell {
	height: 10px;
	width: 10px;
	border: 1px solid black;
	display: inline-block;
}

.lane {
	height: 10px;
	width: auto;
	display: flex;
	justify-content: center;
}

.active {
	background-color: green;
}


